name: CI/CD Pipeline

on:
  push:
    branches: [testing]
  pull_request:
    branches: [testing]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Build backend
        working-directory: ./backend
        run: mvn -B clean install -DskipTests
