name: CI/CD Pipeline

on:
  push:
    branches:
      - testing
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # BACKEND (MAVEN + JAVA)
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      - name: Build backend
        working-directory: ./backend
        run: mvn -B clean install -DskipTests

      - name: Run backend and frontend tests
        working-directory: ./backend
        run: mvn test

      # FRONTEND (VITE + NODE)
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: ./frontend/package-lock.json

      - name: Install frontend deps
        working-directory: ./frontend
        run: npm install

      - name: Build frontend
        working-directory: ./frontend
        run: npm run build

  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Trigger frontend deploy on Render
        run: |
          curl -X POST "https://api.render.com/deploy/srv-d45j3563jp1c73dis3n0" \
          -H "Accept: application/json" \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}"

      - name: Trigger backend deploy on Render
        run: |
          curl -X POST "https://api.render.com/deploy/srv-d45dckre5dus73c28ml0" \
          -H "Accept: application/json" \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}"
